<head>
  <title>jQueryMobileDemo</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
</head>

<body>
	<div data-url="demo-page" data-role="page" id="demo-page" data-theme="d">
    <div data-role="header" data-theme="c">
        <h1>Bikes</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menu</a>
    </div><!-- /header -->
    <div data-role="content">
        <div class="article">
            <p><img src="../../_assets/img/bike.jpg" alt="Fixed Gear bike"></p>
            <h2>Fixed Gear</h2>
            <p>A fixed-gear or fixed-wheel bicycle, commonly known as a fixie, is a bicycle that has a drivetrain with no freewheel mechanism. The freewheel was developed early in the history of bicycle design but the fixed-gear bicycle remained the standard track racing design. More recently the 'fixie' has become a popular alternative among mainly urban cyclists, offering the advantages of simplicity compared with the standard multi-geared bicycle.</p>
            <p><small>Source: Wikipedia</small></p>
            <p><a href="#right-panel" data-role="button" data-theme="b" data-inline="true" data-mini="true" data-shadow="false">Share</a></p>
        </div><!-- /article -->
    </div><!-- /content -->
    <div data-role="panel" id="left-panel" data-theme="c">
        <ul data-role="listview" data-theme="d">
            <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
            <li data-role="list-divider">Menu</li>
            <li data-icon="back"><a href="#demo-intro" data-rel="back">Demo intro</a></li>
        </ul>
        <div data-role="collapsible" data-inset="false" data-iconpos="right" data-theme="d" data-content-theme="d">
          <h3>Categories</h3>
          <div data-role="collapsible-set" data-inset="false" data-iconpos="right" data-theme="b" data-content-theme="d">
            <div data-role="collapsible">
              <h3>Bikes</h3>
              <ul data-role="listview">
                <li><a href="#">Road</a></li>
                <li><a href="#">ATB</a></li>
                <li><a href="#">Fixed Gear</a></li>
                <li><a href="#">Cruiser</a></li>
              </ul>
            </div><!-- /collapsible -->
            <div data-role="collapsible">
              <h3>Cars</h3>
              <ul data-role="listview">
                <li><a href="#">SUV</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Convertible</a></li>
              </ul>
            </div><!-- /collapsible -->
            <div data-role="collapsible">
              <h3>Boats</h3>
              <ul data-role="listview">
                <li><a href="#">Runabout</a></li>
                <li><a href="#">Motorboat</a></li>
                <li><a href="#">Sailboat</a></li>
              </ul>
            </div><!-- /collapsible -->
          </div><!-- /collapsible-set -->
        </div><!-- /collapsible -->
    </div><!-- /panel -->
    <div data-role="panel" id="right-panel" data-display="overlay" data-position="right" data-theme="c">
        <ul data-role="listview" data-theme="d" data-icon="false">
            <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
            <li data-role="list-divider">Share this page</li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google +</a></li>
            <li><a href="#">Mail</a></li>
        </ul>
    </div><!-- /panel -->
</div>
</body>


<template name="layout">
  <nav>
    <ul>
      <li>
        <a href="{{pathFor 'home'}}">Home</a>
      </li>
      <li>
        <a href="{{pathFor 'items'}}">Items</a>
      </li>
    </ul>
  </nav>

  <aside>
    {{yield "aside"}}
  </aside>

  <section class="main">
    {{yield}}
  </section>

  <footer>
    {{yield "footer"}}
  </footer>
</template>

<template name="home">
  <h1>Home Page</h1>
</template>

<template name="items">
  <h1>Items List</h1>

  <ul>
    {{#each items}}
      <li>{{title}}</li>
    {{/each}}
  </ul>
</template>

<template name="itemsAside">
  <h3>Items Aside</h3>
</template>

<template name="itemsFooter">
  <h3>Items Footer</h3>
</template>

<template name="loading">
  <h1>Loading...</h1>
</template>

<template name="notFound">
  <h1>Not Found!</h1>
</template>
